<!DOCTYPE html>
<html>
<head>
  <title>Sxswbot</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<% if current_user %>
  <% current_user.artists.each do |artist| %>
    <%= artist.name %>
    <br />
  <% end %>
<% else %>
  <%= link_to "Sign in with Rdio (and get artists)", user_omniauth_authorize_path(:rdio) %>
<% end %>

<%= yield %>

</body>
</html>
